@import url('css/reset.css');

/* Global
==============================*/
html {
	height:100%;
}
body {
	position:relative;
	width:100%;
	height:100%;
	font-family:Helvetica, Arial, sans-serif;
	color:#5a5a5a;
	line-height:20px;
}
a:hover {
	text-decoration:none;
}
p {
	margin-bottom:30px;
}
p:last-child {
	margin-bottom:0;
}
button {
	padding:0;
	border:1;
	background:none;
	cursor:pointer;
}
button:hover {
	opacity:0.6;
}
.error {
	border:1px solid #C70537 !important;
	box-shadow:0 0 5px rgba(50, 50, 50, 0.75);
}

/* Wrapper
==============================*/
#wrap {
	position:relative;
	height:99%;
	max-width:1366px;
	border:1px solid #cacaca;
	border-radius:5px;
}
#wrap.connect_message {
	background:#fbfbfb;
}

/* Authorization
==============================*/
#auth {
	position:relative;
	display:table;
	width:100%;
	height:100%;
	text-align:center;
	/*background:url('images/bg-header.png') no-repeat;*/
}
	#auth .main-wrap {
		display:table-cell;
		width:100%;
		vertical-align:middle;
	}
		#auth .logo {
			margin-bottom:20px;
		}
			#auth .logo img {
				width:130px;
				height:130px;
			}
		#auth .welcome {
			margin-bottom:30px;
		}
	#auth .powered {
		position:absolute;
		top:0;
		right:5px;
		font-size:11px;
	}
	#auth .version {
		position:absolute;
		top:0;
		left:5px;
		font-size:11px;
	}
	
/* Buttons Auth */
#buttons,
#qb_login_form,
#qb_signup_form {
	width:210px;
	margin:0 auto;
}
	#buttons button,
	#qb_login_form button,
	#qb_signup_form button {
		display:block;
		width:100%;
		height:38px;
	}
		#buttons button img {
			width:100%;
			height:100%;
		}


/* Connecting */
#connecting {
	display:none;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:200px;
	height:70px;
	margin:auto;
	text-align:center;
}
.success_reg {
	display:none;
}



/* WebRTC container
==============================*/

#callToUserButton {
    float: left;
}

#localVideoContainer{
    width: 45%;
    float: left;
    margin-left: 20px;
   	margin-top: 20px;
}
	#currentUserName{
   	 	text-align:center;
	}
	
#remoteVideoContainer{
    width: 45%;
    float: right;
    margin-right: 20px;
   	margin-top: 20px;
}	
	#opponentUserName{
   	 	text-align:center;
	}

#incomingCallControls{
    text-align:center;
}
	#acceptCallButton {
		background: rgb(9, 202, 24);
	}
	#rejectCallButton {
		background: rgb(185, 62, 32);
	}
	




		button {
			padding: 8px 20px;
		    border-radius: 5px;
		    border: 1px solid #333;
		    display:inline;
		    font-family: Helvetica Neue, sans-serif;
		    //color: #fff;
		    -webkit-font-smoothing: antialiased;
		    font-size: 14px;
		    text-shadow: 0 1px 0px rgba(0,0,0,0.4);
		    font-weight: bold;
		    box-shadow: 0 1px 0px rgba(255,255,255,0.1), inset 0 1px 0 rgba(255,255,255,0.7);
		}
		
		button:active {
		    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.6);
		}
		
		button, button:active, button:focus {
			outline:none;
		}

		#hangUp {
			background: rgb(185, 62, 32);
			float: right;
		}